<!DOCTYPE html>
<html lang="en" >
<head>
        <meta charset="utf-8" />
        <title>PUCIT- Admission Management System</title>
        <meta name="description" content="Updates and statistics" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% load static %}
        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/pages/wizard/wizard-1.css' %}" rel="stylesheet" type="text/css" />



        <!-- use by wizard -->
        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/pages/wizard/wizard-1.css' %}" rel="stylesheet" type="text/css" />

        <!-- use for empty page -->

        <!--begin::Page Vendors Styles(used by this page) -->
            <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles -->


        <!--begin::Global Theme Styles(used by all pages) -->
            <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles -->

        <!--begin::Layout Skins(used by all pages) -->

        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/skins/header/base/light.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/skins/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/skins/brand/dark.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/themes/metronic/theme/default/demo1/dist/assets/css/skins/aside/dark.css' %}" rel="stylesheet" type="text/css" />        <!--end::Layout Skins -->
{#        <link href="./css/custom.css" rel="stylesheet" type="text/css" />#}

        <link rel="shortcut icon" href="/media/images/PUCIT-Logo.png" />

</head>

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="index.php">
                <img alt="Logo" src="/media/images/PUCIT-Logo.png" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler"><span></span></button>

            <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>

            <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->