{% extends 'base.html' %}

{% load static %}

{% block title %}
Slots Info
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $.get('{% url "get_slots" %}', function (response) {
            const slots = JSON.parse(response)

            slots.forEach(slot => {
                row = `<tr>
                        <td>${slot.pk}</td>
                        <td>${slot.fields.start_time}</td>
                        <td>${slot.fields.end_time}</td>
                        <td>${slot.fields.seat_limits}</td>
                    </tr>`

                $('#slots-table > tbody').append(row)
            })
        })
    })
</script>
{% endblock %}

{% block body %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet">
                <div class="kt-portlet__body kt-portlet__body--fit">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="kt-grid kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1"
                        data-ktwizard-state="step-first">

                        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                            <!--begin: Form Wizard Form-->
                            <form method="post" action="{% url 'upload_slot' %}" class="kt-form">
                                {% csrf_token %}

                                <!--begin: Form Wizard Step 1-->
                                <div class="kt-wizard-v1__content" data-ktwizard-type="step-content"
                                    data-ktwizard-state="current">
                                    <div class="form-group">
                                        <label>Slot Start Time</label>
                                        <input name="start_time" type="time" class="form-control myform"
                                            aria-describedby="emailHelp" placeholder="Enter Starting Time" required>
                                        <span class="form-text text-muted">Enter the exact start time of slot</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Slot End Time</label>
                                        <input name="end_time" type="time" class="form-control myform"
                                            aria-describedby="emailHelp" placeholder="Enter Ending Time" required>
                                        <span class="form-text text-muted">Enter the exact end time of slot</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Seats Limit</label>
                                        <input name="limit" type="number" class="form-control myform"
                                            aria-describedby="emailHelp" placeholder="Enter seats limit" required>
                                        <span class="form-text text-muted">Total seats available in slot</span>
                                    </div>
                                </div>
                                <!--end: Form Wizard Step 1-->

                                <!--begin: Form Actions -->
                                <div class="kt-form__actions">
                                    <button
                                        class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform">
                                        Submit
                                    </button>
                                </div>
                                <!--end: Form Actions -->
                            </form>
                            <!--end: Form Wizard Form-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin: Table -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="kt-portlet kt-callout">
                        <div class="kt-portlet__body">
                            <div class="kt-callout__body">
                                <div class="kt-callout__content">
                                    <h3 class="kt-callout__title">List of Slots</h3>
                                    <p class="kt-callout__desc">
                                        <table id="slots-table" class="kt-callout__desc">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Seat Limit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Table -->
        </div>
        <!-- end:: Content -->
    </div>
    <!-- end:: Footer -->
</div>
{% endblock %}