
                    {% include 'pages/admission/components/bs.html' %}

                        <div class="form-group">
                            <label>BS Institution</label>
                            <input type="text"
                                   name="bs_institute"
                                   class="form-control myform"
                                   aria-describedby="emailHelp" placeholder="Enter Bachelor Institution">
                            <span class="form-text text-muted">The institution you completed Bachelor from.</span>
                        </div>

                         <div class="form-group">
                            <label>Passing Year</label>
                            <input name="bs_py" type="date" class="form-control myform" aria-describedby="emailHelp"
                                   placeholder="Enter Passing year ">
                            <span class="form-text text-muted">The date you completed above degree</span>
                        </div>

                        <div class="form-group">
                            <label>BS - CGPA</label>
                            <input name="bs_obtained_marks"
                                    type="number" class="form-control myform" aria-describedby="emailHelp" placeholder="Enter obtained CGPA">
                            <span class="form-text text-muted">CGPA as per HEC policies</span>
                        </div>
