


 {% include 'pages/admission/components/mphill.html' %}

                         <div class="form-group">
                            <label>Mphill Institution</label>
                            <input type="text"
                                   name="mphill_institute"
                                   class="form-control myform" aria-describedby="emailHelp" placeholder="Enter Master Institution">
                            <span class="form-text text-muted">The institution you completed Mphill from.</span>
                        </div>

                         <div class="form-group">
                            <label>Passing Year</label>
                            <input name="mphill_py" type="date" class="form-control myform" aria-describedby="emailHelp"
                                   placeholder="Enter Passing year ">
                            <span class="form-text text-muted">The date you completed above degree</span>
                        </div>

                        <div class="form-group">
                            <label>Mphill - CGPA</label>
                            <input type="number"
                                   name="mphill_obtained_marks"
                                   class="form-control myform" aria-describedby="emailHelp" placeholder="Enter Mphill CGPA">
                            <span class="form-text text-muted">CGPA as per HEC policies</span>
                        </div>
