{% extends 'base.html' %}


{% block title %}
    Admission Status
    {% endblock %}
{% block body %}
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
				<!-- begin:: Header -->

				<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">

                Admission Status                           </h3>

                            <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">

                                        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                </div>
                    </div>

    </div>
</div>
<!-- end:: Subheader -->

					<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">





<div class="row">
	<div class="col-lg-12">
    <div class="kt-portlet kt-callout">
			<div class="kt-portlet__body">
				<div class="kt-callout__body">


					<div class="kt-callout__content">
                   {% if data.selection_status == 0 %}

                         <div class="alert alert-success" role="alert">
                            <div class="alert-text">

                                Hold on ! We have secured your seat. Wait untill schedule & congratulatory message is not delivered



                            </div>
                        </div>
                        {% else %}
                         <div class="alert alert-success" role="alert">
                            <div class="alert-text">
                                Congratulations you have got admission in  PUCIT.
                            </div>
                        </div>
                        {% endif %}
                        <p> Contact @ <a href="">admin@yahoo.com </a>  for further details</p>
<br>
					</div>

				</div>
			</div>
		</div>
			</div>
		</div>
</div>
	</div>
</div>





            <!-- begin::Quick Panel -->

<!-- end::Quick Panel -->


<!-- end::Scrolltop -->
            <!-- begin::Sticky Toolbar -->
<ul class="kt-sticky-toolbar" style="margin-top: 30px;">
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" id="kt_demo_panel_toggle" data-toggle="kt-tooltip"  title="Check out more demos" data-placement="right">
		<a href="#" class=""><i class="flaticon2-drop"></i></a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brand" data-toggle="kt-tooltip" title="Layout Builder" data-placement="left">
        		<a href="../../builder.html" ><i class="flaticon2-gear"></i></a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning" data-toggle="kt-tooltip" title="Documentation" data-placement="left">
		<a href="https://keenthemes.com/metronic/?page=docs" target="_blank"><i class="flaticon2-telegram-logo"></i></a>
	</li>

	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--danger" id="kt_sticky_toolbar_chat_toggler" data-toggle="kt-tooltip" title="Chat Example" data-placement="left">
		<a href="#" data-toggle="modal" data-target="#kt_chat_modal"><i class="flaticon2-chat-1"></i></a>
	</li>
</ul>

 {% endblock %}
