{% extends "base.html" %}

{% load static %}

{% block title %}
Merit List Status
{% endblock %}

{% block body %}

			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
				<!-- begin:: Header -->

				<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">

                Merit List Status                           </h3>

                            <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">

                                        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
                </div>
                    </div>

    </div>
</div>
<!-- end:: Subheader -->

					<!-- begin:: Content -->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">





<div class="row">
	<div class="col-lg-12">
    <div class="kt-portlet kt-callout">
			<div class="kt-portlet__body">
				<div class="kt-callout__body">


					<div class="kt-callout__content">
                          {% if status == 1 %}
                    <div class="alert alert-success" role="alert">


                        <div class="alert-text">Congratulations Your name has been appeared in Merit List for program <b>
                            {{ program.name }}
                        </b></div>



                        </div>
                               <div class="kt-callout__action">
						<a href="#" class="btn btn-custom  btn-upper btn-font-sm  btn-info">Checkout Next Procedure</a>
					</div>
                         {% elif status == 0 %}
                           <div class="alert alert-warning" role="alert">


                            <div class="alert-text">Hold on your name is not yet appeared in any merit list</div>



                        </div>

                              {% else %}

                               <div class="alert alert-warning" role="alert">


                            <div class="alert-text">Please Apply first to eligible for further procedure</div>



                        </div>

                            {% endif %}

<br>


					</div>

				</div>
			</div>
		</div>
			</div>
		</div>
</div>
	</div>
</div>	</div>
<!-- end:: Content -->

				<!-- begin:: Footer -->
<div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container  kt-container--fluid ">
		<div class="kt-footer__copyright">
			2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Keenthemes</a>
		</div>
		<div class="kt-footer__menu">
			<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
			<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
			<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
		</div>
	</div>
</div>
<!-- end:: Footer -->			</div>
		</div>
	</div>

<!-- end:: Page -->









    <!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
		<i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->
            <!-- begin::Sticky Toolbar -->
<ul class="kt-sticky-toolbar" style="margin-top: 30px;">
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success" id="kt_demo_panel_toggle" data-toggle="kt-tooltip"  title="Check out more demos" data-placement="right">
		<a href="#" class=""><i class="flaticon2-drop"></i></a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brand" data-toggle="kt-tooltip" title="Layout Builder" data-placement="left">
        		<a href="../../builder.html" ><i class="flaticon2-gear"></i></a>
	</li>
	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--warning" data-toggle="kt-tooltip" title="Documentation" data-placement="left">
		<a href="https://keenthemes.com/metronic/?page=docs" target="_blank"><i class="flaticon2-telegram-logo"></i></a>
	</li>

	<li class="kt-sticky-toolbar__item kt-sticky-toolbar__item--danger" id="kt_sticky_toolbar_chat_toggler" data-toggle="kt-tooltip" title="Chat Example" data-placement="left">
		<a href="#" data-toggle="modal" data-target="#kt_chat_modal"><i class="flaticon2-chat-1"></i></a>
	</li>
</ul>
<!-- end::Sticky Toolbar -->
        <!-- begin::Demo Panel -->



<!--Begin:: Chat-->
{% endblock %}
