
                                <div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Matric/O-levels Institute
									</div>
									<div class="kt-wizard-v1__review-content" id="matric_institute_val">
										Govt. Primary School
									</div>
								</div>

                                <div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Matric/O-levels Passing Year
									</div>
									<div class="kt-wizard-v1__review-content" id="matric_py_val">
										2019
									</div>
								</div>

                                <div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Matric/O-levels Marks
									</div>
									<div class="kt-wizard-v1__review-content" id="matric_obtained_marks_val">
										870
									</div>
								</div>
								<div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Intermediate/A-levels Institute
									</div>
									<div class="kt-wizard-v1__review-content" id="inter_institute_val">
										Kinnaird College
									</div>
								</div>

                                <div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Intermediate Passing Year
									</div>
									<div class="kt-wizard-v1__review-content" id="inter_py_val">
										2019
									</div>
								</div>

								<div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title" >
										Intermediate/A-levels Marks
									</div>
									<div class="kt-wizard-v1__review-content" id="inter_obtained_marks_val">
										900
									</div>
								</div>