
                             {% include 'pages/admission/components/verifyinfo/bs.html' %}




								<div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Bachelor Institute
									</div>
									<div class="kt-wizard-v1__review-content" id="bs_institute_val">
										Kinnaird College
									</div>
								</div>

                                <div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title">
										Bachelor Passing Year
									</div>
									<div class="kt-wizard-v1__review-content" id="bs_py_val">
										2019
									</div>
								</div>

								<div class="kt-wizard-v1__review-item">
									<div class="kt-wizard-v1__review-title" >
										Bachelor Marks
									</div>
									<div class="kt-wizard-v1__review-content" id="bs_obtained_marks_val">
										900
									</div>
								</div>