{% block body %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        
        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet">
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <div class="kt-heading kt-heading--md">Upload A Scanned Copy Of Paid Challan Form
                    </div>
                    <div class="kt-form__section kt-form__section--first">
                        <div class="kt-wizard-v1__form">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">Paid Challan
                                    Copy</label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="dropzone dropzone-default dropzone-success dz-clickable"
                                        id="{{ dropzone_id }}">
                                        <div class="dropzone-msg dz-message needsclick">
                                            <h3 class="dropzone-msg-title">Drop files here or click to
                                                upload.</h3>
                                            <span class="dropzone-msg-desc">Only image (PNG, JPG) and
                                                pdf files are allowed for upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->
    </div>
    <!-- end:: Footer -->
</div>
</div>
</div>
{% endblock %}