{% extends 'base.html' %}

{% load static %}

{% block title %}
Dashboard | Admin
{% endblock %}

{% block body %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Hello Admin
                        </h3>
                        <hr />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}