
{% extends 'base.html' %}


{% block body %}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                        <!-- begin:: Aside -->

<!-- Uncomment this to display the close button of the panel
<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
-->



        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

<!-- end:: Header -->
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
<div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
                                <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>

            Change Password                           </h3>

                        <span class="kt-subheader__separator kt-hidden"></span>

                </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
                                <a href="#" class="btn kt-subheader__btn-primary">
                    Actions &nbsp;
                    <!--<i class="flaticon2-calendar-1"></i>-->
                </a>

            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                <a href="#" class="btn btn-icon"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <polygon points="0 0 24 0 24 24 0 24"/>
    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000"/>
</g>
</svg>                        <!--<i class="flaticon2-plus"></i>-->
                </a>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                    <!--begin::Nav-->
                    <ul class="kt-nav">
                        <li class="kt-nav__head">
                            Add anything or jump to:
                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                <span class="kt-nav__link-text">Order</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                <span class="kt-nav__link-text">Ticket</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                                <span class="kt-nav__link-text">Goal</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                <span class="kt-nav__link-text">Support Case</span>
                                <span class="kt-nav__link-badge">
                                    <span class="kt-badge kt-badge--success">5</span>
                                </span>
                            </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__foot">
                            <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                        </li>
                    </ul>
                    <!--end::Nav-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end:: Subheader -->

                <!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::App-->
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
<!--Begin:: App Aside Mobile Toggle-->
<button class="kt-app__aside-close" id="kt_user_profile_aside_close">
    <i class="la la-close"></i>
</button>
<!--End:: App Aside Mobile Toggle-->

<!--Begin:: App Aside-->
<div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
    <!--begin:: Widgets/Applications/User/Profile1-->
<div class="kt-portlet kt-portlet--height-fluid-">
<div class="kt-portlet__head  kt-portlet__head--noborder">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
            <i class="flaticon-more-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
            <!--begin::Nav-->
<ul class="kt-nav">
<li class="kt-nav__head">
    Export Options
    <span data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <rect x="0" y="0" width="24" height="24"/>
    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
    <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
    <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
</g>
</svg>        </span>
</li>
<li class="kt-nav__separator"></li>
<li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
        <i class="kt-nav__link-icon flaticon2-drop"></i>
        <span class="kt-nav__link-text">Activity</span>
    </a>
</li>
<li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
        <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
        <span class="kt-nav__link-text">FAQ</span>
    </a>
</li>
<li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
        <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
        <span class="kt-nav__link-text">Settings</span>
    </a>
</li>
<li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
        <i class="kt-nav__link-icon flaticon2-new-email"></i>
        <span class="kt-nav__link-text">Support</span>
        <span class="kt-nav__link-badge">
            <span class="kt-badge kt-badge--success kt-badge--rounded">5</span>
        </span>
    </a>
</li>
<li class="kt-nav__separator"></li>
<li class="kt-nav__foot">
    <a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
</li>
</ul>
<!--end::Nav-->         </div>
    </div>
</div>
<div class="kt-portlet__body kt-portlet__body--fit-y">
{% include 'components/profile-widget.html' %}
</div>
</div>
<!--end:: Widgets/Applications/User/Profile1-->
</div>
<!--End:: App Aside-->

<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Change Password<small>change or reset your account password</small></h3>
                    </div>

                </div>
                <form class="kt-form kt-form--label-right" method="post" action="{% url 'password-info' %}">
                    {% csrf_token %}
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                                    <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                                    <div class="alert-text">
                                          {% if messages %}

                                    {%  for message in messages %}

                                        <ul>
                                        <li> {{ message }}</li>
                                        </ul>
                                        {% endfor %}
                                     {% else %}
                                                 Configure user passwords to expire periodically.
                                        Users will need warning that their passwords are going to expire,
                                        <br>or they might inadvertently get locked out of the system!

                                    {% endif %}


                                    </div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">


                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">Change Or Recover Your Password:</h3>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" class="form-control"
                                               name="current_password"
                                               value="" placeholder="Current password">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password"
                                               name="new_password"
                                               class="form-control" value="" placeholder="New password">
                                    </div>
                                </div>
                                <div class="form-group form-group-last row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
                                    <div class="col-lg-9 col-xl-6">

                                        <input
                                                type="password"
                                                name="new_cpassword"
                                                class="form-control" value="" placeholder="Verify password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3">
                                </div>
                                <div class="col-lg-9 col-xl-9">
                                    <input type="submit" class="btn btn-brand btn-bold" name="submit" value="Change Password"/>
                                    &nbsp;
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End:: App Content-->
</div>
<!--End::App--> </div>
<!-- end:: Content -->              </div>


<!-- end:: Footer -->           </div>
    </div>


{% endblock %}